<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998420437315-329i46aaqr5o8inaiol9gtnja2cjuv35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998420437315-329i46aaqr5o8inaiol9gtnja2cjuv35</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>998420437315-l352f6suevi531ph7hmq3pu67lo44ved.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDY5WVfBiFtOhXXjml4R4Py1ldHqgR3440</string>
	<key>GCM_SENDER_ID</key>
	<string>998420437315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-67e39</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-67e39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998420437315:ios:40a17f6bc19dfce8d2f7f6</string>
</dict>
</plist>